.nav {
  margin: 0% auto 1%;
  padding: 1%;
  color: white;
  background: #bdc3c7;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .nav-link {
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000;
    text-decoration-style: none;
  }
}

