.footer {
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 3% auto 0;
  padding: 1.5rem;
  .footer-text {
    color: #FFF;
    text-align: center;
    a:visited {
      color: white;
      text-decoration-style: none;
    }
    a:link {
      color: white;
      text-decoration: none;
    }
  }
}
