footer {
  // position:fixed;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
  background: #000000;;
  text-align: center;
  padding-top: 20px;
}

span {
  margin-left: 1%;
  color: white;
  font-weight: bolder;
  font-size: 1.05em;
}
