<form [formGroup]="group" class="form">
  <h2>SIGN UP</h2>
  <div class="form-group">
    <input class="form-control" type="text" formControlName="name" placeholder="name"><br>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" formControlName="email" placeholder="email"><br>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" formControlName="password" placeholder="password"><br>
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
